<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--sidebar-->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar_admin">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img th:src="@{/static/admin/dist/img/zut.jpg}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">毕业实训管理系统</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a th:href="@{/admin/person}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            个人信息管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/teacher}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            指导教师信息管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/student}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            学生信息管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/company}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            实训公司信息管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/setdate}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            时间设置
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/dashboard}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            统计
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin/setpwd}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            密码修改
                        </p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
<!--sidebar-->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar_student">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img th:src="@{/static/admin/dist/img/zut.jpg}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">毕业实训管理系统</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a th:href="@{/student/person}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            个人信息管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/student/direction}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            去向申报
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/student/teacher}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            导师信息查看
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/student/company}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            公司信息查看
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/student/file}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            提交文件
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/student/student_score}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            成绩查看
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/student/project}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            实训题目
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/student/setpwd}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            密码修改
                        </p>
                    </a>
                </li>


            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!--sidebar-->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar_teacher">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img th:src="@{/static/admin/dist/img/zut.jpg}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">毕业实训管理系统</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a th:href="@{/teacher/person}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            个人信息管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/teacher/studentinfo}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            学生信息查看
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/teacher/grade}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            成绩录入
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/teacher/file}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            文件下载
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/teacher/setpwd}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            密码修改
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!--sidebar-->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar_company">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img th:src="@{/static/admin/dist/img/zut.jpg}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">毕业实训管理系统</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    <a th:href="@{/company/person}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            个人信息管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/company/studentinfo}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            学生信息
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/company/grade}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            成绩录入
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/company/file}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            文件管理
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/company/setpwd}" class="nav-link">
                        <i class="far fa-pencil-square-o nav-icon"></i>
                        <p>
                            密码修改
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
</body>
</html>