<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/f_header::head('去向申报')"></head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <div th:replace="common/f_navbar :: navbar('去向申报')"></div>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <div th:replace="common/f_sidebar :: sidebar_student"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <!-- <div class="col-sm-6">
                          <h1 class="m-0 text-dark">Dashboard</h1>
                        </div> -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>


            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-12" style="margin: 0 auto">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">去向申报</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form role="form">
                                    <div class="card-body">

                                        <div class="form-group" data-select2-id="29">
                                            <label>实训去向</label>
                                            <select class="select2" style="width: 100%;" id="category">
                                                <option value="111">11</option>
                                                <option>校内实训</option>
                                                <option>校外实训</option>
                                            </select>
                                        </div>
                                        <div class="form-group" data-select2-id="29">
                                            <label>实训公司</label>
                                            <select class="select2" style="width: 100%;" id="category">
                                                <option>淘宝</option>
                                                <option>百度</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- /.card-body -->

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary float-right">保存修改</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

    </div>
    <div th:replace="common/f_bottom :: bottom"></div>
</body>
</html>