<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/f_header::head('个人信息管理')"></head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <div th:replace="common/f_navbar :: navbar('个人信息管理')"></div>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <div th:replace="common/f_sidebar :: sidebar_student"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <!-- <div class="col-sm-6">
                          <h1 class="m-0 text-dark">Dashboard</h1>
                        </div> -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>


            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-8 col-12" style="margin: 0 auto">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">个人信息管理</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <form role="form" th:action="@{/student/person}" method="post">
                                    <input type="hidden" name="TeacherID" th:value="${student.teacherID}">
                                    <input type="hidden" name="teacherResult" th:value="${student.teacherResult}">
                                    <input type="hidden" name="companyResult" th:value="${student.teacherID}">
                                    <input type="hidden" name="TrainingResult" th:value="${student.trainingResult}">
                                    <input type="hidden" name="CompanyName" th:value="${student.companyName}">
                                   <!--<input type="hidden" name="PracticeDirection" th:value="${student.practiceDirection}">-->
                                    <input type="hidden" name="CompanyID" th:value="${student.companyID}">
                                    <input type="hidden" name="subject" th:value="${student.subject}">
                                    <input type="hidden" name="StudentClassID" th:value="${student.studentClassID}">
                                    <input type="hidden" name="StudentFileID" th:value="${student.studentFileID}">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">学号</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" th:value="${student.studentID}" disabled="true">
                                                <input type="hidden" class="form-control" name="StudentID"  th:value="${student.studentID}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label" >姓名</label>
                                            <div class="col-sm-10">
                                            <input type="text" class="form-control" name="StudentName" th:value="${student.studentName}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label">性别</label>
                                            <div class="col-sm-10">
                                            <input type="text" class="form-control" name="StudentSex" th:value="${student.studentSex}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label" >邮箱</label>
                                            <div class="col-sm-10">
                                            <input type="email" class="form-control" name="StudentEmail" th:value="${student.studentEmail}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label">联系方式</label>
                                            <div class="col-sm-10">
                                            <input type="text" class="form-control" name="StudentPhone" th:value="${student.studentPhone}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label  class="col-sm-2 col-form-label">家长联系方式</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control"  name="parentsPhone" th:value="${student.parentsPhone}">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <!-- /.card-body //-->

                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary float-right">保存修改</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>

        </div>

    </div>
    <div th:replace="common/f_bottom :: bottom"></div>
</body>
</html>