<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/f_header::head('学生信息管理')"></head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <div th:replace="common/f_navbar :: navbar('学生信息管理')"></div>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <div th:replace="common/f_sidebar :: sidebar_admin"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <!-- <div class="col-sm-6">
                          <h1 class="m-0 text-dark">Dashboard</h1>
                        </div> -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>


            <!-- Main content -->
            <section class="content">

                <button class="btn btn-success"  style="margin: -15px 0 15px 10px">
                    导入
                </button>
<!--                <button type="button" class="btn btn-block btn-primary btn-sm">导入</button>-->

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <!-- <div class="card-header">
                                  <h3 class="card-title">Bordered Table</h3>
                                </div> -->
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead style="text-align: center;">
                                        <tr>
                                            <th style="width: 80px">学号</th>
                                            <th>姓名</th>
                                            <th>性别</th>
                                            <th>班级</th>
                                            <th>实训去向</th>
                                            <th>联系方式</th>
                                            <th style="width: 100px">操作</th>
                                            <th style="width: 100px">分配</th>
                                        </tr>
                                        </thead>
                                        <tbody style="text-align: center;">
                                        <tr th:each="student : ${pages.list}">
                                            <td th:text="${student.StudentID}">201819164234</td>
                                            <td th:text="${student.StudentName}">王五</td>
                                            <td th:text="${student.StudentSex}">男</td>
                                            <td>卓越181</td>
                                            <td th:text="${student.PracticeDirection} == 0 ? '在校' : ${student.PracticeDirection} == 1 ? '学校合作' : '自行联系'">校内实训</td>
                                            <td th:text="${student.StudentPhone}">13243320296</td>
                                            <td>
                                                <a type="button" style="color: white" class="btn btn-block btn-primary btn-xs"
                                                   th:onclick="javascript:showedit([[${student.StudentID}]])">重置密码</a>
                                            </td>
                                            <td>
                                                <a type="button" style="color: white" class="btn btn-block btn-primary btn-xs"
                                                   th:onclick="javascript:showselect([[${student.StudentID}]])">分配教师</a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer clearfix">
                                    <div th:insert="common/f_pagination :: page('/admin/student')"></div>

                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>

            <!-- 编辑 模态框（Modal） -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="editModalLabel">修改密码</h6>
                        </div>
                        <form th:action="@{/admin/changepasswordstudent}" method="post">
                            <div class="modal-body">
                                <input id="tagid" name="id" type="hidden">
                                <label>修改密码：</label>
                                <input name="password" type="text">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>

        <!-- 编辑 模态框（Modal） -->
        <div class="modal fade" id="selectModal" tabindex="-1" role="dialog" aria-labelledby="selectModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="selectModalLabel">选择教师</h6>
                    </div>
                    <form th:action="@{/admin/distribute}" method="post">
                        <input type="hidden" name="sid" id="id">
                        <div class="form-group" data-select2-id="29" style="margin: 10px">
                            <label>教师</label>
                            <select name="tid" class="select2" style="width: 100%;" id="category">
                                <option th:each="teacher : ${teachers}"
                                        th:text="${teacher.TeacherName}"
                                        th:value="${teacher.TeacherID}"
                                >11</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>

    </div>
    <div th:replace="common/f_bottom :: bottom"></div>
    <script>

        function showedit(id) {
            $('#editModal').modal('show');
            $('#tagid').val(id);
        }

        function showselect(id) {
            $('#selectModal').modal('show');
            $('#id').val(id);
        }

    </script>
</body>
</html>