<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/f_header::head('指导教师信息维护')"></head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Navbar -->
        <div th:replace="common/f_navbar :: navbar('指导教师信息维护')"></div>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <div th:replace="common/f_sidebar :: sidebar_admin"></div>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">


            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <!-- <div class="col-sm-6">
                          <h1 class="m-0 text-dark">Dashboard</h1>
                        </div> -->

                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>


            <!-- Main content -->
            <section class="content">

                <button class="btn btn-success"  style="margin: -15px 0 15px 10px">
                    导入
                </button>
<!--                <button type="button" class="btn btn-block btn-primary btn-sm">导入</button>-->

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <!-- <div class="card-header">
                                  <h3 class="card-title">Bordered Table</h3>
                                </div> -->
                                <!-- /.card-header -->
                                <div class="card-body">
                                    <table class="table table-bordered">
                                        <thead style="text-align: center;">
                                        <tr>
                                            <th style="width: 80px">姓名</th>
                                            <th>性别</th>
                                            <th>联系方式</th>
                                            <th>邮箱</th>
                                            <th style="width: 100px">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody style="text-align: center;">
                                        <tr th:each="teacher : ${pages.list}">
                                            <td th:text="${teacher.TeacherName}">张三</td>
                                            <td th:text="${teacher.TeacherSex}">女</td>
                                            <td th:text="${teacher.TeacherPhone}">13243320296</td>
                                            <td th:text="${teacher.TeacherEmail}">*********@qq.com</td>
                                            <td>
                                                <a type="button" style="color: white" class="btn btn-block btn-primary btn-xs"
                                                   th:onclick="javascript:showedit([[${teacher.TeacherID}]])"
                                                >重置密码</a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer clearfix">
                                    <div th:insert="common/f_pagination :: page('/admin/teacher')"></div>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- 编辑 模态框（Modal） -->
            <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h6 class="modal-title" id="editModalLabel">修改密码</h6>
                        </div>
                        <form th:action="@{/admin/changepassword}" method="post">
                            <div class="modal-body">
                                <input id="tagid" name="id" type="hidden">
                                <label>修改密码：</label>
                                <input name="password" type="text">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
        </div>

    </div>
    <div th:replace="common/f_bottom :: bottom"></div>
    <script>

        function showedit(id) {
            $('#editModal').modal('show');
            $('#tagid').val(id);
        }

    </script>
</body>
</html>